/* src/index.css */
@import "./components/GlassLayout.css";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;  /* no black here */
  color: #0f172a;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* Remove Raleway - All Poppins */
.heading-1, .heading-2, .heading-3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.desc {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
}
